<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Admin panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="Index">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="RoleAdmin" asp-action="Index">Users roles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Post" asp-action="List">to website</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    @RenderBody()
</main>
</body>
</html>