@model LoginViewModel

<div class="container" style="width: 400px; margin-top: 20px">
    <div class="row">
        <div class="col s12">
            <div class="card-panel medium">
                <form asp-action="Login" method="post">
                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"/>
                    <div class="center black-text" style="margin-top: 20px; margin-bottom: 20px">
                        <h4>Welcome Back!</h4>
                    </div>
                    <div>
                        <span asp-validation-for="Email" class="red-text"></span>
                    </div>
                    <input type="text" asp-for="Email" placeholder="Enter Email" class="black-text validate" required>
                    <div>
                        <span asp-validation-for="Password" class="red-text"></span>
                    </div>
                    <input type="password" asp-for="Password" placeholder="Enter Password" class="black-text validate" required>

                    <button type="submit" class="btn waves-effect waves-light teal lighten-2" style="background-color: #4CAF50; width: 100%; margin-top: 30px">Login</button>
                    <div class="row center-align grey-text" style="border-top: #C6C6C6 solid 2px; margin-top: 30px;">
                        Don't have account?
                        <a class="teal-text lighten-2" id="signUp" style="display: inline">Sign up!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>